.button {
    background-color: inherit;
    border: 1px solid #ccc;
    border-radius: .3rem;
    padding: .1rem .2rem;
    text-transform: uppercase;
    font-size: .75rem;
    color: #ccc;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:active {
        transform: translateY(2px);
    }

    &:hover {
        border-color: black !important;
        color: black !important;
    }
}