.answers {
    border-radius: .2rem;
    overflow: hidden;
    background-color: #fbfbff;
}

.title {
    padding: 0.5rem;
    display: block;
    background-color: #f1f1ff;
}

@media (min-width: 425px) {
    .title {
        font-size: 1.25rem;
    }
}